In [1]:
import pandas as pd

In [2]:
DATA_PATH = '../data/eComm-behavior/eCommerce-behavior-data-2019-Oct.csv'

In [3]:
raw_data = pd.read_csv(DATA_PATH)

In [4]:
raw_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [5]:
raw_data = raw_data.dropna()

In [6]:
interactions_count = raw_data.groupby(by=['user_id'])['product_id'].size().reset_index(name='total_interactions')

In [7]:
interactions_count.head()

     user_id  total_interactions
0   33869381                   1
1  184265397                   4
2  195082191                   1
3  200673532                   4
4  208669541                   1

In [22]:
sample_users = interactions_count[(interactions_count.total_interactions>200) & (interactions_count.total_interactions<600)].user_id.unique()

In [23]:
len(sample_users)

5309

In [24]:
sample_data = raw_data[raw_data.user_id.isin(sample_users)]

In [25]:
sample_data.shape

(1513751, 9)

In [26]:
sample_data.event_type.value_counts()

view        1450461
cart          34571
purchase      28719
Name: event_type, dtype: int64

In [31]:
df1 = sample_data[sample_data.event_type.isin(['cart', 'purchase'])]
df1.shape

(63290, 9)

In [33]:
df2 = sample_data[sample_data.event_type.isin(['view'])].sample(df1.shape[0], random_state=1)
df2.shape

(63290, 9)

In [39]:
sample_data = pd.concat([df1, df2])
sample_data.reset_index(drop=True, inplace=True)
sample_data.shape

(126580, 9)

In [40]:
sample_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
1,2019-10-01 02:21:51 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c
2,2019-10-01 02:22:00 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c
3,2019-10-01 02:22:08 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c
4,2019-10-01 02:22:18 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c

In [41]:
sample_data[['cat_1', 'cat_2']] = sample_data['category_code'].str.split('.', 1, expand=True)

In [42]:
sample_data['cat_2'] = sample_data['cat_2'].str.split('.').str[0]

In [43]:
sample_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cat_1,cat_2
0,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone
1,2019-10-01 02:21:51 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c,electronics,smartphone
2,2019-10-01 02:22:00 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c,electronics,smartphone
3,2019-10-01 02:22:08 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c,electronics,smartphone
4,2019-10-01 02:22:18 UTC,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c,electronics,smartphone

In [44]:
sample_data['event_time'] = sample_data['event_time'].apply(lambda x : pd.to_datetime(x).value)

In [45]:
sample_data.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cat_1,cat_2
0,1569888134000000000,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone
1,1569896511000000000,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c,electronics,smartphone

In [46]:
sample_data['user_id'] = sample_data['user_id'].astype('category')
sample_data['user_id_num'] = sample_data['user_id'].cat.codes
user_id_to_num = dict(zip(sample_data['user_id'], sample_data['user_id_num']))

In [47]:
sample_data['product_id'] = sample_data['product_id'].astype('category')
sample_data['product_id_num'] = sample_data['product_id'].cat.codes
item_id_to_num = dict(zip(sample_data['product_id'], sample_data['product_id_num']))

In [48]:
sample_data.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cat_1,cat_2,user_id_num,product_id_num
0,1569888134000000000,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone,3796,613
1,1569896511000000000,cart,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,515384420,7f82b450-6c45-4346-96fb-ecf4ab25779c,electronics,smartphone,1811,817

In [49]:
sample_data.shape

(126580, 13)

In [50]:
sample_data.drop_duplicates(subset=['event_time', 'user_id', 'product_id'], inplace=True)

In [51]:
sample_data.shape

(125534, 13)

In [52]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125534 entries, 0 to 126579
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   event_time      125534 non-null  int64
 1   event_type      125534 non-null  object
 2   product_id      125534 non-null  category
 3   category_id     125534 non-null  int64
 4   category_code   125534 non-null  object
 5   brand           125534 non-null  object
 6   price           125534 non-null  float64
 7   user_id         125534 non-null  category
 8   user_session    125534 non-null  object
 9   cat_1           125534 non-null  object
 10  cat_2           125534 non-null  object
 11  user_id_num     125534 non-null  int16
 12  product_id_num  125534 non-null  int16
dtypes: category(2), float64(1), int16(2), int64(2), object(6)
memory usage: 11.3+ MB

In [53]:
len(user_id_to_num), len(item_id_to_num)

(5309, 15184)

In [54]:
sample_data.to_csv('dataset/eComm-sample-data2.csv', index=None)