In [1]:
import pandas as pd

In [2]:
DATA_PATH = '../data/eComm-behavior/eCommerce-behavior-data-2019-Oct.csv'

In [3]:
raw_data = pd.read_csv(DATA_PATH)

In [4]:
raw_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [15]:
raw_data = raw_data.dropna()

In [25]:
interactions_count = raw_data.groupby(by=['user_id'])['product_id'].size().reset_index(name='total_interactions')

In [32]:
interactions_count.head()

     user_id  total_interactions
0   33869381                   1
1  184265397                   4
2  195082191                   1
3  200673532                   4
4  208669541                   1

In [33]:
sample_users = interactions_count[(interactions_count.total_interactions>300) & (interactions_count.total_interactions<315)].user_id.unique()

In [34]:
len(sample_users)

241

In [37]:
sample_data = raw_data[raw_data.user_id.isin(sample_users)]

In [38]:
sample_data.shape

(74085, 9)

In [39]:
sample_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
7197,2019-10-01 02:32:17 UTC,view,5100721,2053013553341792533,electronics.clocks,huawei,197.95,513630467,a1964e18-ba3c-4e5a-8093-7e4cdbaa9220
20992,2019-10-01 02:55:32 UTC,view,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,512479014,f78417fe-8a8e-4d3b-bba7-c4a53d4cea2a
21550,2019-10-01 02:56:23 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,512479014,64bcac8d-f40a-4141-a1e5-bafb9e9781b7
22482,2019-10-01 02:57:43 UTC,view,1005137,2053013555631882655,electronics.smartphone,apple,1541.87,512479014,64bcac8d-f40a-4141-a1e5-bafb9e9781b7
25880,2019-10-01 03:02:26 UTC,view,1004321,2053013555631882655,electronics.smartphone,huawei,243.25,522799138,34c42854-a58b-4870-b5c0-c15582e4b783

In [67]:
sample_data[['cat_1', 'cat_2']] = sample_data['category_code'].str.split('.', 1, expand=True)

/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/3687133874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data[['cat_1', 'cat_2']] = sample_data['category_code'].str.split('.', 1, expand=True)

In [68]:
sample_data['cat_2'] = sample_data['cat_2'].str.split('.').str[0]

/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/2967722177.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['cat_2'] = sample_data['cat_2'].str.split('.').str[0]

In [71]:
sample_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cat_1,cat_2
7197,2019-10-01 02:32:17 UTC,view,5100721,2053013553341792533,electronics.clocks,huawei,197.95,513630467,a1964e18-ba3c-4e5a-8093-7e4cdbaa9220,electronics,clocks
20992,2019-10-01 02:55:32 UTC,view,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,512479014,f78417fe-8a8e-4d3b-bba7-c4a53d4cea2a,electronics,smartphone
21550,2019-10-01 02:56:23 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,512479014,64bcac8d-f40a-4141-a1e5-bafb9e9781b7,electronics,smartphone
22482,2019-10-01 02:57:43 UTC,view,1005137,2053013555631882655,electronics.smartphone,apple,1541.87,512479014,64bcac8d-f40a-4141-a1e5-bafb9e9781b7,electronics,smartphone
25880,2019-10-01 03:02:26 UTC,view,1004321,2053013555631882655,electronics.smartphone,huawei,243.25,522799138,34c42854-a58b-4870-b5c0-c15582e4b783,electronics,smartphone

In [72]:
sample_data['event_time'] = sample_data['event_time'].apply(lambda x : pd.to_datetime(x).value)

/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/4178510142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['event_time'] = sample_data['event_time'].apply(lambda x : pd.to_datetime(x).value)

In [73]:
sample_data.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cat_1,cat_2
7197,1569897137000000000,view,5100721,2053013553341792533,electronics.clocks,huawei,197.95,513630467,a1964e18-ba3c-4e5a-8093-7e4cdbaa9220,electronics,clocks
20992,1569898532000000000,view,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,512479014,f78417fe-8a8e-4d3b-bba7-c4a53d4cea2a,electronics,smartphone

In [74]:
sample_data['user_id'] = sample_data['user_id'].astype('category')
sample_data['user_id_num'] = sample_data['user_id'].cat.codes
user_id_to_num = dict(zip(sample_data['user_id'], sample_data['user_id_num']))

/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/3837352298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['user_id'] = sample_data['user_id'].astype('category')
/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/3837352298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['user_id_num'] = sample_data['user_id'].cat.codes

In [78]:
sample_data['product_id'] = sample_data['product_id'].astype('category')
sample_data['product_id_num'] = sample_data['product_id'].cat.codes
item_id_to_num = dict(zip(sample_data['product_id'], sample_data['product_id_num']))

/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/579562444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['product_id'] = sample_data['product_id'].astype('category')
/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/579562444.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['product_id_num'] = sample_data['product_id'].cat.codes

In [79]:
sample_data.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,cat_1,cat_2,user_id_num,product_id_num
7197,1569897137000000000,view,5100721,2053013553341792533,electronics.clocks,huawei,197.95,513630467,a1964e18-ba3c-4e5a-8093-7e4cdbaa9220,electronics,clocks,48,4728
20992,1569898532000000000,view,1005135,2053013555631882655,electronics.smartphone,apple,1747.79,512479014,f78417fe-8a8e-4d3b-bba7-c4a53d4cea2a,electronics,smartphone,9,794

In [80]:
sample_data.shape

(74085, 13)

In [81]:
sample_data.drop_duplicates(subset=['event_time', 'user_id', 'product_id'], inplace=True)

/var/folders/g7/66p63lnn5_55gcwkh8g9n2fm0000gp/T/ipykernel_5680/2571106201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data.drop_duplicates(subset=['event_time', 'user_id', 'product_id'], inplace=True)

In [82]:
sample_data.shape

(73864, 13)

In [83]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73864 entries, 7197 to 42447321
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   event_time      73864 non-null  int64
 1   event_type      73864 non-null  object
 2   product_id      73864 non-null  category
 3   category_id     73864 non-null  int64
 4   category_code   73864 non-null  object
 5   brand           73864 non-null  object
 6   price           73864 non-null  float64
 7   user_id         73864 non-null  category
 8   user_session    73864 non-null  object
 9   cat_1           73864 non-null  object
 10  cat_2           73864 non-null  object
 11  user_id_num     73864 non-null  int16
 12  product_id_num  73864 non-null  int16
dtypes: category(2), float64(1), int16(2), int64(2), object(6)
memory usage: 6.5+ MB

In [84]:
len(user_id_to_num), len(item_id_to_num)

(241, 10820)

In [85]:
sample_data.to_csv('dataset/eComm-sample-data.csv', index=None)